<!doctype html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description | default: site.description | escape }}">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
  <a class="skip-link" href="#main-content">Skip to content</a>
  <header class="site-header">
    <div class="wrap header-inner">
      <a class="brand" href="{{ '/' | relative_url }}" aria-label="DATAMIND Catalogue home">
        <img class="brand-mark" aria-hidden="true" src="{{ '/' | relative_url  }}/assets/img/DATAMIND_black_cmyk.svg" alt="DATAMIND" aria-label="DATAMIND" />
        <h3>Resource Catalogue</h3>
      </a>
      <nav aria-label="Primary navigation">
        <a href="https://datamind.org.uk/">DATAMIND website</a>
        <a href="{{  site.datamind_github_org_url  }}">DATAMIND on GitHub</a>
      </nav>
    </div>
  </header>
  <main id="main-content" class="wrap">{{ content }}</main>
  <footer class="site-footer">
    <div class="wrap">Better mental health through data-driven research. A project of <a
        href="https://datamind.org.uk/">DATAMIND</a>.</div>
  </footer>
</body>

</html>